*{
    margin: 0;
    padding: 0;
}

nav{
    background: rgb(255, 254, 240);
    top: 10%;
    margin-bottom: 20px;
    height:75px;
    border-bottom: 2px;
}

.adminCompletedLogoCon{
    text-align: center;
    padding-top: 1.5%;
    margin: 0;
}

.adminCompletedOrdersCon{
    position: absolute;
    margin:auto;
    left: 85%;
    top: 3%;
}

.completeOrdersNotification{
    display: none;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 150, 252);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: -55%;
    right: -15px;
}


.adminCompletedHBCon{
    position: absolute;
    margin:auto;
    left: 3%;
    top: 3%;
}

.adminCompletedOrderTable{
    width: 100%;
    margin-top: 5%
}
.adminCompletedOrderTable, tr,th, td{
    border:1px solid black;
}


